<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Assignees</title>
</head>
<body>
<h1>List of Assignees</h1>
<div>
    <a href="/assignee/add">Add a new Assignee</a>
</div>
<div>
    <table th:border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="assignee : ${assignees}">
            <td th:text="${assignee.id}"></td>
            <td th:text="${assignee.name}"></td>
            <td th:text="${assignee.email}"></td>
            <td>
                <form th:action="'/assignee/' + ${assignee.id} + '/delete'" method="post">
                    <input type="submit" value="remove">
                </form>
            </td>
            <td><a th:href="'/assignee/' + ${assignee.id} + '/edit'">edit</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <a href="/todo/list">See the list of todos here</a>
</div>
</body>
</html>