<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Assignee</title>
</head>
<body>
<div>
    <form th:action="'/assignee/' + ${assignee.id} + '/edit'" method="post">
        <h1>Edit the name of an Assignee</h1>
        <label for="description">Assignee name</label>
        <input type="text" id="description" name="name" required/>
        <input type="submit" value="Submit">
        <a href="/assignee/list">Cancel</a>
    </form>
</div>
</body>
</html>