<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<div>
    <p>To see a page with a random color background <a href="/useful/colored">click here!</a></p>
</div>
<div>
    <p>To validate an email address <a href="/useful/email">click here!</a></p>
</div>
<div>
    <p>To encode a text <a href="/useful/text/1/encoding">click here!</a></p>
</div>
<div>
    <p>To decode a text <a href="/useful/text/-1/decoding">click here!</a></p>
</div>
</body>
</html>