<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Action History</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/stylesheet.css"/>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Programmers Octocat Club</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div>
            <a href="/main">Main Page</a>
            <a th:href="'/information/?name=' + ${fox.getName()}">Information</a>
            <a th:href="'/nutritionstore?name=' + ${fox.getName()}">Nutrition Store</a>
            <a th:href="'/trickcenter?name=' + ${fox.getName()}">Trick Center</a>
            <a th:href="'/actionhistory?name=' + ${fox.getName()}">Action History</a>
        </div>
    </div>
</nav>
</body>
</html>