<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/foxclub.css"/>
</head>
<body>
<div class="menu">
    <ul class="menu-bar">
        <li class="menu-item">Programmer Fox Club</li>
        <li class="menu-item"><a th:href="'/information/?name=' + ${fox.getName()}">Information</a></li>
        <li class="menu-item"><a th:href="'/nutritionstore?name=' + ${fox.getName()}">Nutrition Store</a></li>
        <li class="menu-item"><a th:href="'/trickcenter?name=' + ${fox.getName()}">Trick Center</a></li>
    </ul>
</div>
<div>
    <img src="/images/IMG_5637.JPG" class="rounded mx-auto d-block" style="width:350px;height:350px;">
</div>
<div class="fox-info" th:object="${fox}">
    <p th:text="'This is Mr. ' + *{getName()} + '. Currently living on ' + *{getFood()} + ' and ' + *{getDrink()} + '. He knows ' + *{countTricksLearned()} + ' tricks.'"></p>
</div>
<div>
    <h2>Known Tricks</h2>
</div>
<div class="trick-info">
    <ul>
        <span th:if="${fox.countTricksLearned() == 0}">You don't know any tricks, yet. Go and learn some!</span>
        <span th:unless="${fox.countTricksLearned() == 0}">
            <li th:each="trick : ${fox.getTricksLearned()}" th:text="${trick}"></li>
        </span>
    </ul>
</div>
</body>
</html>