<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/foxclub.css"/>
</head>
<body>
<div>
    <h1>Welcome to Programmer Fox Club!</h1>
</div>
<div>
    <p>Please provide a name so you can associate it with your pet!</p>
</div>
<div>
    <form action="/login" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required/>
        <input type="submit" value="GO" name="submit"/>
    </form>
</div>
</body>
</html>