<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/foxclub.css"/>
</head>
<body>
<div class="menu">
    <ul class="menu-bar">
        <li class="menu-item">Programmer Fox Club</li>
        <li class="menu-item"><a href="/main">Main Page</a></li>
        <li class="menu-item"><a th:href="'/information'">Information</a></li>
        <li class="menu-item"><a th:href="'/nutritionstore'">Nutrition Store</a></li>
        <li class="menu-item"><a th:href="'/trickcenter'">Trick Center</a></li>
    </ul>
</div>
<div>
    <p>Please provide a name so you can associate it with your pet!</p>
</div>
<div>
    <span th:if="${error}" th:text="${error}"></span>
    <span th:unless="${error}"></span>
    <form action="/login" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required/>
        <input type="submit" value="GO" name="submit"/>
    </form>
</div>
</body>
</html>