<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<div>
    <ul>
        <li><a th:href="'/information/?name=' + ${fox.getName()}">Information</a></li>
        <li><a th:href="'/nutritionstore?name=' + ${fox.getName()}">Nutrition Store</a></li>
        <li><a th:href="'/trickcenter?name=' + ${fox.getName()}">Trick Center</a></li>
    </ul>
</div>
<div>
    <img src="/greenfox.png">
</div>
<div th:object="${fox}">
    <p th:text="'This is Mr. ' + *{getName()} + '. Currently living on ' + *{getFood()} + ' and ' + *{getDrink()} + '. He knows ' + *{countTricksLearned()} + ' tricks.'"></p>
</div>
<div>
    <h2>Known Tricks</h2>
</div>
<div >
    <ul>
        <span th:if="${fox.countTricksLearned() == 0}">You don't know any tricks, yet. Go and learn some!</span>
        <span th:unless="${fox.countTricksLearned() == 0}">
            <li th:each="trick : ${fox.getTricksLearned()}" th:text="${trick}"></li>
        </span>
    </ul>
</div>
</body>
</html>