<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Store</title>
</head>
<body>
<div>
    <ul>
        <li><a th:href="'/information/?name=' + ${fox.getName()}">Information</a></li>
        <li><a th:href="'/nutritionstore/?name=' + ${fox.getName()}">Nutrition Store</a></li>
        <li><a th:href="'/trickcenter?name=' + ${fox.getName()}">Trick Center</a></li>
    </ul>
</div>
<h2>Select something from the menu for your fox to eat</h2>
<div>
    <form th:action="'/nutritionstore/?name=' + ${fox.getName()}" method="post">
        <label for="food">Food</label>
        <select name="food" id="food">
            <option th:each="food : ${foods}" th:value="${food}" th:text="${food}"></option>
        </select>
        <label for="drink">Drink</label>
        <select name="drink" id="drink">
            <option th:each="drink : ${drinks}" th:value="${drink}" th:text="${drink}"></option>
        </select>
        <input type="submit" value="Change" name="submit"/>
    </form>
</div>
<h2>OR Add a new meal</h2>
<div>
    <form th:action="'/nutritionstore/?name=' + ${fox.getName()}" method="post">
        <label for="addfood">Add a new food</label>
        <input type="text" id="addfood" name="food"/>
        <label for="adddrink">Add a new drink</label>
        <input type="text" id="adddrink" name="drink"/>
        <input type="submit" value="Add" name="submit"/>
    </form>
</div>
</body>
</html>