<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/stylesheet.css"/>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
</head>
<body >
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Reddit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div>
            <a href="/">Main Page</a>
            <a href="/trendingposts">Trending Posts</a>
            <a href="/trendingposts/addpost">New Post</a>
            <a href="/login">Log In</a>
            <a href="/register">Register</a>
        </div>
    </div>
</nav>
<div>
    <form action="/trendingposts/addpost" method="post">
        <h1>Submit a new post</h1>
        <input type="text" name="title" required/>
        <input type="url" name="url" required/>
        <input type="submit" value="Submit"/>
    </form>
</div>
</body>
</html>