<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accounts at the Bank of Simba</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Account holder's name</th>
            <th>The animal's type</th>
            <th>Account balance</th>
        </tr>
    </thead>
    <tbody th:each="account : ${accountList}">
        <tr >
            <td th:text="${accountStat.count}"></td>
            <td th:text="${account.name}"></td>
            <td th:text="${account.animalType}"></td>
            <td th:text="${account.balance} + ' ' + ${account.currency}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>