<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accounts at Bank of Simba</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/accountStyle.css"/>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
</head>
<body>
<h1>
    Bank of Simba
</h1>
<h2>Please select, which animal you would like to raise money for</h2>
<form th:action="@{raiseMoney}" method="post" class="raise-money">
    <select id="animal-name" name="animal-name">
        <option th:each="account : ${accountList}" th:value="${account.name}" th:text="${account.name}"></option>
    </select>
    <input type="submit" class="submit" name="submit"/>
</form>
</body>
</html>